@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-primaria: #333;
    --cor-secundaria: #777;
    --font-size-default: 16px;
    --spacing: 1rem;
    --border-radius: 5px;
    --max-width: 1200px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: var(--font-size-default);
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

a:hover {
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

.menu {
    background-color: var(--cor-primaria);
    padding: var(--spacing);
}

.menu header {
    display: flex;
    align-items: center;
}

.menu__title {
    color: white;
    margin-left: var(--spacing);
}

.menu__list {
    margin-top: var(--spacing);
    display: flex;
    gap: var(--spacing);
}

.menu__list-item {
    margin-bottom: var(--spacing);
}

.menu__list-item a {
    color: white;
}

.menu__list-item a:hover {
    color: white;
}

.menu__list-item--contato {
    margin-top: var(--spacing);
    color: white;
}

.title {
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
    padding: var(--spacing);
}

.title__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title__profile {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: var(--spacing);
}

.title__bio, .title__subsection {
    margin: 0;
}

.title__network {
    display: flex;
    gap: var(--spacing);
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
}

.title__network a:hover {
    color: white;
}

.about {
    padding: var(--spacing);
    text-align: center;
}

.about__title {
    font-size: 2rem;
    margin-bottom: var(--spacing);
}

.about__paragraph {
    font-size: 1rem;
    line-height: 1.8;
    color: var(--cor-primaria);
    margin-bottom: var(--spacing);
}

.about img {
    max-width: 150px;
    margin-top: var(--spacing);
}

.skills {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: var(--spacing);
}

.skills__title {
    font-size: 2rem;
    margin-bottom: var(--spacing);
}

.skills__line {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
}

.skills__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__img img {
    width: 60px;
    height: 60px;
}

.skills__name {
    font-size: 1rem;
    text-align: center;
}

.hobbies {
    padding: var(--spacing);
    text-align: center;
}

.hobbies__title {
    font-size: 2rem;
    margin-bottom: var(--spacing);
}

.hobbies__line {
    display: flex;
    justify-content: space-around;
    gap: var(--spacing);
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies__img img {
    width: 60px;
    height: 60px;
}

.academic {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: var(--spacing);
}

.academic__title {
    font-size: 2rem;
    margin-bottom: var(--spacing);
}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    max-width: 300px;
}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
}

.academic__courses__item__img img {
    width: 60px;
    height: 60px;
}

.academic__courses__item__title {
    font-size: 1.2rem;
}

.academic__courses__item__subtitle {
    font-size: 1rem;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.experience__section__title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: var(--spacing);
}

.experiencie__box {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.experience__item {
    flex-basis: calc(50% - var(--spacing));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(2 * var(--spacing));
}

.experience__img {
    width: 100%;
    max-width: 300px;
    border-radius: var(--border-radius);
    margin: 0 auto;
    margin-bottom: var(--spacing);
    text-align: center;
}

.experience__info {
    text-align: center;
    width: 100%;
    padding: 40px;
}

.experience__title {
    font-size: 1.5rem;
    margin: var(--spacing) 0;
}

.experience__text {
    font-size: 1rem;
}

.experience__description {
    margin-top: var(--spacing);
}

.experiencia__botao--repo, .experiencia__botao--demo {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: var(--spacing);
    cursor: pointer;
    border-radius: var(--border-radius);
}

.experiencia__botao--repo:hover, .experiencia__botao--demo:hover {
    background-color: var(--cor-secundaria);
}

.formcontato {
    padding: var(--spacing);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing);
    background-color: var(--cor-secundaria);
}

.formcontato__contacto {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.formcontato__img {
    flex: 1 1 40%;
    max-width: 300px;
}

.formcontato__text {
    flex: 1 1 50%;
    text-align: left;
}

.formcontato__title {
    font-size: 2rem;
    margin-bottom: var(--spacing);
}

.formcontato__subtext {
    font-size: 1rem;
    margin-bottom: var(--spacing);
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing);
}

.formcontato__input, .formcontato__textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid var(--cor-secundaria);
    border-radius: var(--border-radius);
}

.formcontato__botao {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.formcontato__botao:hover {
    background-color: var(--cor-secundaria);
}

.footer {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: var(--spacing);
}

.footer__rodape {
    font-size: 1rem;
}

.footer__rodape a {
    color: white;
}

.heart {
    color: red;
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__list {
        margin-top: 0;
    }

    .menu__list-item {
        margin-bottom: 0;
    }

    .title__div {
        flex-direction: row;
        gap: var(--spacing);
    }

    .title__container {
        flex: 1;
        text-align: left;
    }

    .about {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .skills__line, .hobbies__line {
        justify-content: space-between;
    }

    .academic__courses__box {
        flex-direction: row;
        justify-content: center;
    }

    .section-experience, .section-formcontato {
        display: block;
    }

    .experience__box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .experience__item {
        flex: 1 1 calc(50% - var(--spacing));
    }

    .formcontato__contacto {
        display: flex;
        gap: var(--spacing);
    }

    .formcontato__img {
        flex: 1 1 40%;
    }

    .formcontato__text {
        flex: 1 1 50%;
    }
}

@media (min-width: 1024px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__list {
        display: flex;
        gap: var(--spacing);
    }

    .menu__list-item {
        margin-bottom: 0;
    }

    .title__div {
        flex-direction: row;
        gap: var(--spacing);
        position: relative;
    }

    .title__container {
        flex: 1;
        text-align: left;
    }

    .title__network {
        position: absolute;
        right: var(--spacing);
        top: var(--spacing);
    }

    .about {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .skills__line, .hobbies__line {
        justify-content: space-between;
    }

    .academic__courses__box {
        flex-direction: column;
        align-items: center;
    }

    .academic__courses__item__img {
        justify-content: center;
    }

    .experience__box {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .experience__item {
        flex: 1 1 calc(50% - var(--spacing));
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__img {
        width: 100%;
        max-width: 300px;
    }

    .experience__info {
        text-align: center;
        width: 100%;
    }

    .formcontato__contacto {
        display: flex;
        gap: var(--spacing);
    }

    .formcontato__img {
        flex: 1 1 40%;
    }

    .formcontato__text {
        flex: 1 1 50%;
    }
}

@media (min-width: 1100px) {
    .section-title {
      display: block;
    }
}
